body{
    font-family: arial, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 0%;
    background-color: white;
}

.hamburger-menu {
    display: block;
}

.nav-links {
    display: none;
}

.hamburger-menu.active + .nav-links {
    display: block;
}

header{
    background-color: #056cf2;
    color: white;
}

a{
    display: flex;
    justify-content: space-around;
    text-decoration: none;
    color: inherit;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(156, 156, 156);
    font-size: 20px;
}

.headcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}

.logo{
    max-width: 20vw;
    max-height: 10vh;
    border-radius: 25px;
}

.hamburger-menu span {
    display: block;
    width: 15px;
    height: 3px;
    background-color: #ffffff;
    margin: 5px 0;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding: 0 1vw;
    box-shadow: 0px 4px 10px #3155f3;
    z-index: 1;
}

.nav-links a{
    font-size: 2vw;
}

.bluebutton{
    background-color: #05f;
    color: white;
    padding: 1vh 1vw ;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    max-height: 10vh;
    max-width: 200px;
    font-weight: bold;
}

.cyanbutton{
    background-color: #3b9aff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    max-height: 5vh;
    font-weight: bold;
}

.navbar{
    min-height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    flex-direction: row;
}

li{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    padding-left: 1vw;
}

.navbar a{
    font-weight: bold;
}

.banner{
    background-color: #e4e0e1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.bannertext{
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-left: 15vw;
}

.banner img{
    overflow: hidden;
    display: flex;
    justify-content: center;
    object-fit: cover;
    height: 65vh;
}

.bannertext h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#007BFF;
    font-weight: bolder;
    font-size: 50px
}

.bannertext p{
    width: 65%;
}

.carousel {
    position: relative;
    height: 200px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
  
.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Ancho del número total de slides */
}
  
.slide {
    display: flex;
    align-items: center;
    width: 100%;
    flex-shrink: 0;
}
  
.slide img {
    width: 100%;
    display: block;
}

.indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}
  
.indicator {
    width: 12px;
    height: 12px;
    background-color: rgba(37, 112, 226, 0.7);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
.indicator.active {
    background-color: rgb(3, 49, 255);
}
  
.cards{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    height: 350px;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.card{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px #6c85f5;
    padding: 25px;
    margin:50px;
}

.card h3{
    text-align: center;
}

.dropbanner{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 70px;
} 

.dropimg{
    display: flex;
    justify-content: start;
    max-width: 520px;
    max-height: 520px;
    margin: 50px;
}

.droptext{
    display: flex;
    flex-direction: column;
    justify-content: start;
    max-width: 40%;

}

.dropstickers{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 40px;
}

.dropstickers a{
    font-weight: bolder;
}

.sticker{
    max-width: 100px;
}

.picklist{
    display: flex;
    background-color: #e9f5ff;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 70px;
}

.picklist h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    width: 100%;
    margin-top: 70px;
}

.pickitem{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    margin-top: 70px;
}

.pickitem p{
    text-align: center;
}

.pickitem h3{
    color:#007BFF;
}

.compareplans{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 10px
}

.comparetitle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.compareitem{
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    margin: 70px;
}

.compareitem p{
    width: 340px;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.compareitem h3{
    padding-top: 15px;
}

.compareitem img{
    width: 400px;
    max-height: 185px;
    object-fit: cover;

}

.footercard{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10px 120px;
    padding: 20px 40px;
    box-shadow: 0px 4px 10px #1735be;
    background-color: white;
    position: relative;
    top: 40px;
    z-index: 1;
}

.footercontainer{
    display: flex;
    flex-direction: column;
    width: 15vw;
}

.fclogo{
    align-items: center;
}

.footercontainer img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.footercontainer p{
    font-size: 16px;
    width: 15vw;
}

.fclogo p{
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.footer{
    margin: 0;
    height: 100px;
    background-color: #0b74da;
}

.mobile{
    display: none;
}

@media (max-width: 999px){
    

    .mobile{
        display: block;
    }

    /* Estandarizando fuentes por cuestiones de accesibilidad */
    h3{
        font-size: 14px;
    }

    a{
        font-size: 14px;
    }

    p{
        font-size: 14px;
    }

    .logo{
        margin-left: 3vw;
        border-radius: 0px;
        position: relative;
        top: 1vh;
    }

    header{
        background-color: #6b7ff2;
    }

    header a{
        max-width: 125px;
    }

    .bannertext h1{
        font-weight:800;
        font-size: 5vw;
    }

    .cyanbutton{
        padding: 5px 10px;
        font-size: 14px;
    }

    .banner{
        max-width: 100%;
    }

    .bannertext{
        width: 200%;
    }

    .banner img{
        height: 400px;
        width: 100%;
    }

    .bannertext p{
        font-size: 14px;
        width: 75%;
    }

    .sticker{
        max-width: 50px;
    }

    .carousel{
        height: 40vh;
    }

    .card{
        width: 30vw;
        height: 20vh;
        display: flex;
        padding: 4vh 4vw;
        margin: 4vh 6vw;
    }

    .slide img{
        height: 75px;
        width: 75px;
    }

    .dropimg{
        max-width: 80%;
    }

    .droptext{
        display: flex;
        max-width: 90%;
        justify-content: center;
        align-items: start;
        margin-left: 40%;
    }

    .droptext h1 {
        max-width: 70%;
    }

    .droptext p{
        width: 90%;
    }

    .dropstickers{
        justify-content: flex-start;
    }

    .picklist{
        padding-bottom: 35px;
    }

    .picklist h1{
        font-size: 16px;
        margin-top: 35px;
        margin-bottom: 35px;
    }

    .pickitem{
        width: 150px;
        margin: 10px;
        padding: 10px;
        margin-top: 20px;
    }

    .pickitem p {
        width: 150px;
        text-align: center;
    }

    .secondcarousel{
        height: 500px;
    }

    .broad{
        justify-content: flex-start;
        width: 40vw;
        margin: 10px;
        padding: 10px;
        margin-top: 20px;
    }

    .broad img{
        width: 40vw;
        height: 15vh;
    }

    .broad p{
        width: 35vw;
    }

    .footercard{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 80vw;
        margin: 10px 0px;
        padding: 10px 10px;
        box-shadow: 0px 4px 10px #1735be;
        background-color: white;
        position: relative;
        top: 40px;
        z-index: 1;
    }
    
    .footercontainer{
        display: flex;
        flex-direction: column;
        width: 150px;
    }
    
    .footercontainer img{
        width: 75px;
        height: 75px;
        border-radius: 15px;
    }
    
    .footercontainer p{
        font-size: 14px;
        width: 100px;
    }
    
    .fclogo p{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .footercardright{
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 80vw;
        margin: 10px 0px;
        padding: 10px 10px;
        box-shadow: 0px 4px 10px #1735be;
        background-color: white;
        position: relative;
        top: -40px;
        z-index: 1;
    }

    .secondfootercard{
        display: flex;
        justify-content: flex-end;
    }

    .desktop{
        display: none;
    }
}

@media (max-width: 450px){
/* En dispositivos con anchos de pantalla muy bajos la barra header era la primera en quebrar por el largo de los textos */
header a{
    font-size: 8px;
}

}


